{% extends 'base.html' %}

{% block content %}
<div class="container yourbooking">
    {% for home_page in home_pages %}
    <div class="post">
        <h3>{{ home_page.title }}</h3>
        <hr>
        {{ home_page.content | safe }}
        <h3>Services Provided</h3>
        <hr>
        <div class="row">
            
            <!-- Waste Collection -->

            <div class="col-md-4">
                <ul class="list-unstyled text-center">
                    <li><i class="fa-solid fa-recycle fa-2xl icon"></i></li>
                    <li class="listtitle"><a href="{% url 'make_the_bookings' %}">Waste Collection:</a></li>
                    <li>Non-hazardous waste collection</li>
                    <li>Hazardous waste collection</li>
                </ul>
            </div>

            <!-- Site-to-Site Transfer -->

            <div class="col-md-4">
                <ul class="list-unstyled text-center">
                    <li><i class="fa-solid fa-right-left fa-2xl icon" style="color: #c34a36;"></i></li>
                    <li class="listtitle"><a href="{% url 'make_the_bookings' %}">Site-to-Site Transfer:</a></li>
                    <li>Seamless transportation between two addresses</li>
                </ul>
            </div>

            <!-- Van and Driver Hire -->

            <div class="col-md-4">
                <ul class="list-unstyled text-center">
                    <li><i class="fa-solid fa-van-shuttle fa-2xl icon" style="color: #c34a36;"></i></li>
                    <li class="listtitle"><a href="{% url 'make_the_bookings' %}">Van and Driver Hire:</a></li>
                    <li>Flexible van rental with an experienced driver at your service</li>
                </ul>
            </div>

            <!-- Additional Services -->

            <div class="col-md-12 text-center">
                <ul class="list-unstyled">
                    <li><i class="fa-solid fa-circle-question fa-2xl icon" style="color: #c34a36;"></i></li>
                    <li class="listtitle"><a href="{% url 'make_the_bookings' %}">Additional Services:</a></li>
                    <li>Tailored transportation solutions to meet your specific requirements. Contact us to discuss
                        further options and customization.</li>
                </ul>
            </div>

            <!-- Booking and Contact Links -->

            <div class="col-md-12 text-center listtitle">
                <p class="list-unstyled">
                    <a href="{% url 'make_the_bookings' %}">Book</a> one of the services or <a
                        href="{% url 'contact_us' %}">Contact Us!</a>
                </p>
            </div>
        </div>
       
        <!-- Images posted by admin in admin panel -->
       
        <h3>List of the Vans</h3>
        <hr>
        <div class="row">
            {% for image in home_page.image_set.all %}
            <div class="col-md-4">
                <img src="{{ image.image.url }}" alt="Image" class="img-fluid">
            </div>
            {% endfor %}
        </div>
        <p class="text-end"><em>Updated on: {{ home_page.updated_on }}</em></p>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock content %}

{% block footerimage %}
<div class="image-footer">
</div>
{% endblock footerimage %}