 /* Index Page edit image*/
 .img-fluid {
     max-width: 92%;
     height: 92%;
     border-radius: 125px;
 }

/* banner*/
.banner {
    margin: 1em;
    background-color: #768581d1;
    text-align: center;
    color: white;
}
 /* Footer */

 body, footer {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
 
 .image-footer {
     background-image: url('/static/images/logistic.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 300px;
     width: 100%;
     margin-top: 15px;
 }
 .social-icons {
    margin: 10px;
    font-size: 1.2em;
 }

 .socialmedia {
     font-size: 1.5em;
     text-align: center;
 }

 .opening {
    text-align: center;
    padding-bottom: 1em;
 }

 .social-icon:hover {
    color: #B0A8B9;
  }
 /* Nav Bar */
 .navbardesign {
     background-color: #C34A36;
 }

 .navbardesign a {
     color: black;
 }
 
 .navbar-nav .nav-link:hover {
    color: #B0A8B9;
  }

 /* List */
 ul {
    list-style-type: none;
  }
 .listtitle {
    text-align:center;
    font-weight: 700;

 }
/* view booking page */

 .viewbooking {
    margin-bottom: 20px;
}
.yourbooking {
    margin-top: 1em;
}

.card {
    border: 1px solid #C34A36;
    background-color: #d8d7c7;
}

.status-pending {
    background-color: rgba(255, 165, 0, 0.5);
}

.status-approved {
    background-color: rgba(0, 128, 0, 0.5);
}

.deletebooking {
    background-color: #d8d7c7;
    border: 1px solid #C34A36;
    text-align: left;
    border-radius: .25rem;
    padding:16px
}

/* Buttons*/
.btn {
    border-radius: 10px;
    color: #d8d7c7;
}

.lgbutton{
    background-color: #768581; 
}

.dgbutton{
    background-color: #4c514e;
}


/* Form css*/
/* Style for form container */
.form-container {
    margin-top: 1em; 
    margin-bottom: 1em;   
    background-color: #d8d7c7;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #C34A36;
}

/* Style for form labels */
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for form inputs */
.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

