 /* Index Page edit image*/
 .img-fluid {
     max-width: 92%;
     height: 92%;
     border-radius: 125px;
 }



 /* Footer */

 body, footer {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
 
 .image-footer {
     background-image: url('/static/images/logistic.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 300px;
     width: 100%;
     margin-top: 15px;
 }
 .social-icons {
    margin: 10px;
    font-size: 1.2em;
 }

 .socialmedia {
     font-size: 1.5em;
     text-align: center;
 }

 .opening {
    text-align: center;
 }

 .social-icon:hover {
    color: #B0A8B9;
  }
 /* Nav Bar */
 .navbardesign {
     background-color: #C34A36;
 }

 .navbardesign a {
     color: black;
 }
 
 .navbar-nav .nav-link:hover {
    color: #B0A8B9;
  }

 /* List */
 ul {
    list-style-type: none;
  }
 .listtitle {
    text-align:center;
    font-weight: 700;

 }