{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<div class="container yourbooking">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Edit Booking</h3>
            <hr>
            <h5>You can make changes to your booking below. If your booking was confirmed and you edit it, the booking
                needs to be approved again.</h5>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}

                    <!-- Render form using crispy forms -->

                    {{ booking_form|crispy }}
                    <button type="submit" class="btn lgbutton">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}