{% extends 'base.html' %}

{% block content %}

<div class="container yourbooking">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Edit Booking</h3>
            <h5>You can make changes to your booking below. If your booking was confirmed and you edit it, the booking needs to be approved again.</h5>
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}

                    <!-- Display non-field errors -->
                    {% if booking_form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ booking_form.non_field_errors }}
                    </div>
                    {% endif %}
                    
                    <!-- Contact Number -->
                    <div class="form-group">
                        <label for="id_contact_number">Contact Number:</label>
                        {{ booking_form.contact_number }}
                    </div>

                    <!-- Date -->
                    <div class="form-group">
                        <label for="id_date">Date:</label>
                        {{ booking_form.date }}
                    </div>

                    <!-- Time Slot -->
                    <div class="form-group">
                        <label for="id_time_slot">Time Slot:</label>
                        {{ booking_form.time_slot }}
                    </div>

                    <!-- Choose a Service -->
                    <div class="form-group">
                        <label for="id_choose_a_services">Choose a Service:</label>
                        {{ booking_form.choose_a_services }}
                    </div>

                    <!-- Comments -->
                    <div class="form-group">
                        <label for="id_comments">Comments:</label>
                        {{ booking_form.comments }}
                    </div>

                    <button type="submit" class="btn lgbutton">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}