{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="container yourbooking">
    <div class="row align-items-center">

        <!-- Left Column -->

        <div class="col-lg-6">
            <div class="col-md-12">
                <h3>Contact Us</h3>
                <hr>
                <h5>Feel free to contact us through the options below: fill out the form, send us an email, give us a
                    call, or drop by our office. We'd be more than happy to assist you in any way we can.</h5>
                <div class="form-container">
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}

                        <!-- Display error message if it exists -->

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Please correct the errors below.
                        </div>
                        {% endif %}
                        <button type="submit" class="btn lgbutton">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Right Column -->

        <div class="col-lg-6">
            <h4>Contact Information</h4>
            <hr>
            <div class="contact-info form-container">
                <p><strong>Phone:</strong> +1234567890</p>
                <p><strong>Email:</strong> example@example.com</p>
                <p><strong>Address:</strong> <a href="https://maps.app.goo.gl/BkU9kvDwNZiewexd6"
                        target="_blank">Riverside Building, County Hall, London SE1 7PB</a></p>
                <p><strong>Program:</strong><br>
                    Monday - Friday: 7AM - 7PM<br>
                    Saturday - Sunday: Closed</p>
                <a href="{% url 'make_the_bookings' %}" class="btn lgbutton">Book a Service Now</a>
            </div>
        </div>
    </div>
</div>

<!-- Map -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9934.92132140065!2d-0.13225131367948798!3d51.499815983041294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c7be3d9791%3A0x67bb55b5c4867f8c!2sLondon%20Eye%20ticket%20office!5e0!3m2!1sen!2suk!4v1712826598786!5m2!1sen!2suk"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock content %}